@model IEnumerable<QrMenu.Models.Food>

@{
    ViewData["Title"] = "Index";
    int? userId = (int?)ViewData["userId"]!;
}

<h1>Index</h1>

<p>
    @if (userId != null)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Picture
            </th>
            @if (userId != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>

                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        string imagePath = @item.Id.ToString() + ".jpg";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                <img src=@imagePath alt="FoodImage">
            </td>
            @if (userId != null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>